Repository ESE-Peasy/PosturePerfection, pull requests merged in 2021-04, with the labels that each got.

#107 Enable building on MacOS
  scripts/install_dependencies.sh
  src/CMakeLists.txt
  src/gui/CMakeLists.txt
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/gui/settingswindow.cpp
  src/gui/settingswindow.h
Labels: installation

#108 Refactored Video Feed to use Signals and Slots
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/main.cpp
  src/pipeline.cpp
  src/pipeline.h
  src/post_processor.cpp
  src/post_processor.h
Labels: gui

#112 Removed Data Page and Functionality
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
Labels: bug

#117 Prevent exception on quitting
  .gitignore
  scripts/build.sh
  src/pipeline.cpp
  src/pipeline.h
Labels: bug, code, pipeline

#120 Smoothing
  src/CMakeLists.txt
  src/framerate_settings.cpp
  src/gui/mainwindow.cpp
  src/iir.cpp
  src/iir.h
  src/pipeline.cpp
  src/pipeline.h
  src/post_processor.cpp
  src/post_processor.h
Labels: code, pipeline

#121 Posture correction functionality
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/pipeline.cpp
  src/pipeline.h
  src/posture_estimator.cpp
  src/posture_estimator.h
  test/CMakeLists.txt
  test/test_posture_estimator.cpp
Labels: code, gui, post-processing

#127 Incorrect arrow fix
  src/posture_estimator.cpp
  test/test_posture_estimator.cpp
Labels: bug, code, testing

#126 Update ideal pose in tests
  src/notifications/receiver.cpp
  src/notifications/receiver.h
  test/test_notifications.cpp
Labels: code, testing

#123 119 event drivenness
  scripts/install_dependencies.sh
  src/CMakeLists.txt
  src/pipeline.cpp
  src/pipeline.h
Labels: code, pipeline

#125 Create Bad Posture Notification
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/posture_estimator.cpp
  src/posture_estimator.h
  test/test_posture_estimator.cpp
Labels: gui

#130 Display partial pose if there are consecutive Trustworthy joints
  docs/images/PlantUML/postureestimator.puml
  docs/images/class-diagram.pdf
  src/gui/mainwindow.cpp
  src/posture_estimator.cpp
  src/posture_estimator.h
  test/test_posture_estimator.cpp
Labels: code, gui, testing

#132 Gui update
  docs/images/gui/about.png
  docs/images/gui/home.png
  docs/images/gui/settings.png
  src/gui/CMakeLists.txt
  src/gui/custom_widgets.cpp
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/gui/stylesheet.qss
  src/main.cpp
Labels: code, gui

#128 88 desktop notification
  src/CMakeLists.txt
  src/notifications/broadcast_example.cpp
  src/notifications/broadcaster.cpp
  src/notifications/broadcaster.h
  src/notifications/receiver.cpp
  src/pipeline.cpp
  src/posture_estimator.cpp
  src/posture_estimator.h
  test/CMakeLists.txt
Labels: code, notifications

#135 Updates for v0.4.0 release
  PosturePerfection_install.sh
  assets/EfficientPoseRT_LITE.tflite
  assets/README.md
  assets/logo.png
  assets/stylesheet.qss
  scripts/install_dependencies.sh
  src/gui/mainwindow.cpp
  src/pipeline.cpp
Labels: installation

#143 Use new startms with timer
  src/pipeline.cpp
Labels: code, pipeline

#141 Reverse slouch slider and increase precision
  src/gui/mainwindow.cpp
Labels: gui

#140 Docs realtime
  docs/images/frame_rate_laptop.svg
  docs/images/frame_rate_rpi.svg
  docs/index.md
  docs/realtime.md
  docs/software-install.md
  docs/source-documentation.md
Labels: documentation

#142 Transfer of broadcaster and receiver files
  README.md
  scripts/install_dependencies.sh
  src/CMakeLists.txt
  src/notifications/CMakeLists.txt
  src/notifications/broadcast_example.cpp
  src/notifications/broadcaster.cpp
  src/notifications/broadcaster.h
  src/notifications/notify.cpp
  src/notifications/notify.h
  src/notifications/receiver.cpp
  src/notifications/receiver.h
  src/notifications/receiver_example.cpp
  src/posture_estimator.cpp
  src/posture_estimator.h
  test/CMakeLists.txt
  test/test_notifications.cpp
Labels: code, notifications

#147 User manual/instructions
  docs/about-us.md
  docs/ci.md
  docs/guidance.md
  docs/images/instructions/bad_posture.png
  docs/images/instructions/good_posture.png
  docs/images/instructions/notification_example.png
  docs/images/instructions/unknown_posture.png
  docs/images/instructions/unset_posture.png
  docs/instructions.md
  docs/realtime.md
  docs/requirements/requirements.md
  docs/requirements/spec.md
  docs/requirements/user-stories.md
  docs/source-documentation.md
  docs/system/system.md
  src/gui/mainwindow.cpp
Labels: documentation

#149 148 update install deps
  .github/workflows/CI.yml
  README.md
  scripts/install_dependencies.sh
  src/gui/mainwindow.cpp
Labels: documentation, installation

#152 Updated Docs to Include Enabling Camera Functionality.
  README.md
  docs/components.md
Labels: documentation
